body {
    grid-template:
        ".. ..";
    display: grid;
    height: 100vh;
    margin: 0;
    background: url('tictac.png') center/cover;
    transition: background-color 0.3s ease-in-out;
    align-items: center;
}
 
.container {
    text-align: center;
    width: fit-content;
    padding: 50px;
    margin-top: 100px;
    /* border: 2px solid; */
    border-image: linear-gradient(to right, #EBC1EE, #605399);
    border-image-slice: 1;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
    animation: glow 2s infinite;
}
 
h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
h4 {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;
}
 
 
#game-container {
    margin-top: 20px;
}
 
.board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}
 
.cell {
    color: white;
    width: 80px;
    height: 80px;
    border: 2px solid;
    border-image: linear-gradient(to right, #EBC1EE, #605399);
    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    animation: glow 2s infinite;
}
 
.cell:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
 
/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
 
.container.dark-mode {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}
 
#game-container.dark-mode {
    background-color: #333;
    color: #ffffff;
}
 
.cell.dark-mode {
    border-color: #ffffff;
    background-color: #444;
}
 
.cell.dark-mode:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
 
select {
    background: linear-gradient(45deg, #ffffff, transparent);
    animation: glow 2s infinite;
    border-radius: 2px;
    color: #32226d;
    width: 170px;
    height: 50px;
    border-image: linear-gradient(to right, #EBC1EE, #605399);
    font-weight: 900;
}
 
@keyframes glow {
    0% {
      box-shadow: 0 0 5px #3498db, 0 0 20px #3498db; /* Initial shadow values */
    }
    50% {
      box-shadow: 0 0 20px #605399, 0 0 30px #3498db; /* Intermediate shadow values */
    }
    100% {
      box-shadow: 0 0 5px #605399, 0 0 20px #605399; /* Final shadow values */
    }
  }